{% extends 'base.html.twig' %}

{% block body %}
    
    <div><a href="/">Back to conversations</a></div>
    <ul>
        {% for message in messages %}

            <li>[{{ message.getCreatedBy().getUsername() }} at {{ message.getCreatedAt() | date('d.m.Y H:i:s') }}]: <b>{{ message.content }}</b></li>
        
        {% endfor %}
    </ul>

    <div><textarea id="message"></textarea><button type="submit">Send</button></div>


    <div>Users:</div>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

{% endblock %}