{% extends 'base.html.twig' %}

{% block body %}
    
    {# Registracija: {{ craue_setting('register') }} #}
    {% if is_granted('ROLE_MODERATOR') %}
        <div><a href="/conversation/new">Create new channel</a></li></div>
    {% endif %}
    
    <ul>
        {% for conversation in conversations %}

            {% if conversation.isChannel == false %}
                {% set channelName = conversation.conversationNameForOwner %}
                {% if conversation.createdBy != app.user %}
                    {% set channelName = conversation.conversationNameForGuest %}
                {% endif %}
            {% else %}
                {% set channelName = conversation.channelName %}
            {% endif %}


            <li><a href="/conversation/{{ conversation.id }}">{{ channelName }}</a>
        
        {% endfor %}
    </ul>

    <div>Users:</div>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

{% endblock %}