{% extends 'base.html.twig' %}

{% block body %}
    
    {# Registracija: {{ craue_setting('register') }} #}
    {% if is_granted('ROLE_MODERATOR') %}
        <div><a href="/conversation/new">Create new conversation</a></li></div>
    {% endif %}
    
    <ul>
        {% for conversation in conversations %}

            <li><a href="/conversation/{{ conversation.id }}">{{ conversation.name }}</a>
        
        {% endfor %}
    </ul>

    <div>Users:</div>
    <ul>
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

{% endblock %}