framework:
    secret: '%env(APP_SECRET)%'
    #default_locale: en
    #csrf_protection: true
    #http_method_override: true

    # Enables session support. Note that the session will ONLY be started if you read or write from it.
    # Remove or comment this section to explicitly disable session support.
    session:
        handler_id: app_session_db_storage
        cookie_lifetime: 2592000 # 30 dana
        gc_maxlifetime: 2592000 # 30 dana
        # cookie_secure: true
        cookie_httponly: false

    #esi: true
    #fragments: true
    php_errors:
        log: true

    templating:
        engines:
            twig