gos_web_socket:
    server:
        port: 5510
        host: 0.0.0.0
        router:
           resources:
               - '%kernel.project_dir%/config/pubsub.yml'
        origin_check: false
    client:
        firewall: main
        session_handler: app_session_db_storage
    # origins:
    #     - '%origin%'

    pushers:
        wamp:
            host: 0.0.0.0
            port: 5510