{% if is_granted('ROLE_MODERATOR') %}
    <div class="modal fade" id="new-channel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="requests">
                <div class="title">
                    <h1>New channel</h1>
                    <button type="button" class="btn" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                </div>
                <div class="content">
                    <form id="form-channel">
                        <div class="form-group">
                            <label for="channelName">Channel name:</label>
                            <input type="text" class="form-control" name="channelName" id="channelName" placeholder="What's the topic?" required>
                        </div>
                        <div class="form-group">
                            <label for="channelIsPrivate"><input type="checkbox" name="channelIsPrivate" id="channelIsPrivate" /> This channel is private?</label>
                        </div>
                        <div class="form-group" id="xif-private_channel">
                            <label for="channelUsers">Users you want to add in channel:</label>
                            <input type="text" id="channelUsers" name="channelUsers" placeholder="Add recipient..." />
                        </div>
                        <button type="submit" class="btn button w-100" id="create-channel">Create channel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}