<div class="main">
    <div class="tab-content" id="nav-tabContent">
        <div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
            <div class="chat" id="chat1">
                <div class="top">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="inside">
                                <a href="#">
                                    <img class="avatar-md" src="/avatar.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
                                </a>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                </div>
                                <div class="data">
                                    <h5><a href="#">{{ conversations.current.title }}</a></h5>
                                    <span>Active now</span>
                                </div>
                                <div class="dropdown">
                                    <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 30px, 0px);">
                                        <a href="#" class="dropdown-item connect"><i class="material-icons">settings</i>Settings</a>
                                        <a href="/logout" class="dropdown-item connect"><i class="material-icons">power_settings_new</i>Logout</a>
                                        <hr>
                                        <button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
                                        <button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
                                        <button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if messages is empty %}
                    <div class="content empty">
                        <div class="container">
                            <div class="col-md-12">
                                <div class="no-messages">
                                    <i class="material-icons md-48">forum</i>
                                    <p>Seems people are shy to start the chat. Break the ice send the first message.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="content" id="content">
                        <div class="container">
                            <div class="col-md-12">

                                {% for message in messages %}

                                    {% include 'inc/message-item.inc.html.twig' %}
                                
                                {% endfor %}
                                
                                <div id="message-zone"></div>

                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="container">
                    <div class="col-md-12">
                        <div class="bottom">
                            <form class="position-relative w-100">
                                <textarea class="form-control" id="form-message" placeholder="Message {{ conversations.current.title }}" rows="1"></textarea>
                                <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                                <button type="submit" class="btn send" id="submit-message"><i class="material-icons">send</i></button>
                            </form>
                            <label>
                                <span id="fine-uploader" class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
                            </label> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>