<div class="message">
    <div class="text-main">
        <div class="text-profile">
            <img class="avatar-md" src="/avatar.jpg" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="Keith">
        </div>
        <div class="text-group">
            <div class="text">
                <span><b>{{ message.createdBy.displayName }}</b> in {{ message.createdAt|date('d.m.Y - H:i:s')}}</span>
                <p>{{ message.content | raw }}</p>
            </div>
        </div>
    </div>
</div>