<div class="sidebar" id="sidebar">
    <div class="container">
        <div class="col-md-12">
            <div class="tab-content">
                
                <div id="discussions" class="tab-pane fade active show">
                    <div class="search">
                        <form class="form-inline position-relative">
                            <input type="search" class="form-control" id="conversations" placeholder="Search...">
                            <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
                        </form>
                    </div>		
                    {% include 'inc/discussion-section.inc.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>